.main{
    display: flex;
    justify-content: center;
}

.div_doe{
    margin: 5rem;
    height: 40rem;
    width: 30rem;
    border: solid 0.2rem var(--cor-verde);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: column  ;
}

.h1{
    color: var(--cor-verde);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

.img_qr_code{
    border: solid 0.4rem #1D3B34;
    border-radius: 0.2rem;
    width: 20rem;
    height: 20rem;
}

.texto_detalhes{
    color: #1D3B34;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.texto_detalhes_info{
    color: #1D3B34;
    font-size: 1rem;
}

@media (max-width: 430px) {
    .img_qr_code{
        width: 12rem;
        height: 12rem;
    }

    .div_doe{
        height: 35rem;
    }
}

@media (min-width: 431px) and (max-width: 744px) {
    .img_qr_code{
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width: 745px) and (max-width: 834px) {
}

@media (min-width: 835px) and (max-width: 1024px) {

}