.apresentacao{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo_gaia{
    object-fit: cover;
    height: 20rem;
}

.apresentacao__textos{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.slogan{
    color: var(--cor-verde);
    font-size: 1.9rem;
}

.texto{
    color: var(--cor-verde);
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.section_texto_sustentavel{
    background-color: #D9F5C0;
    height: 90vh;
}

.texto_sustentavel_titulo{
    color: var(--cor-verde);
    font-size: 2rem;
    text-align: center;
    padding: 3rem;
}

.texto_sustentavel_texto{
    color: var(--cor-verde);
    font-size: 1.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ajustes_section_gaia{
    display: flex;
    padding: 3rem;
}

.section_gaia{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.section_imagem_gaia{
    display: flex;
    align-items: center;
}

.h1_gaia{
    color: var(--cor-verde);
    font-family: var(--fonte-texto);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2.5rem;
}

.texto_gaia{
    color: var(--cor-verde);
    font-size: 1.5rem;
    padding: 1rem;
}

.imagem_gaia{
    width: 30rem;
    height: 30rem;
}

@media (max-width: 414px) {
    .section_texto_sustentavel{
        margin-top: 10rem;
        height: 105vh;
    }

    .texto_sustentavel_titulo{
        padding: 1.5rem;
    }

    .texto_sustentavel_titulo{
        padding: 0;
        font-size: 0.8rem;
    }

    .section_gaia{
        width: 90%;
    }

    .ajustes_section_gaia{
        flex-direction: column;
        align-items: center;
    }
    .imagem_gaia{
        margin-top: 1rem;
    }
}

@media (max-width: 430px) {
    .apresentacao{
        height: 90vh;
    }

    .logo_gaia{
        margin-top: 2rem;
        height: 18rem;
        width: 18rem;
    }

    .texto_sustentavel_titulo{
        font-size: 1.8rem;
        padding-top: 3rem;
    }

    .texto_sustentavel_texto{
        font-size: 1.2rem;
        padding-top: 2rem;
    }
    
    .ajustes_section_gaia{
        padding: 1rem;
    }

    .h1_gaia{
        font-size: 1.5rem;
    }

    .texto_gaia{
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .imagem_gaia{
        width: 10rem;
        height: 10rem;
    }


}

@media (min-width: 431px) and (max-width: 540px) {
    .apresentacao{
        height: 85vh;
    }

    .logo_gaia{
        margin-top: 2rem;
        height: 18rem;
        width: 18rem;
    }

    .section_texto_sustentavel{
        height: 95vh;
    }

    .texto_sustentavel_titulo{
        font-size: 1.8rem;
        padding-top: 3rem;
    }

    .texto_sustentavel_texto{
        font-size: 1.3rem;
        padding-top: 1rem;
    }
    
    .ajustes_section_gaia{
        padding: 1rem;
    }

    .h1_gaia{
        font-size: 1.5rem;
    }

    .texto_gaia{
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .imagem_gaia{
        width: 10rem;
        height: 10rem;
    }
}

@media (min-width: 541px) and (max-width: 744px) {
    .apresentacao{
        height: 80vh;
    }

    .logo_gaia{
        margin-top: 2rem;
        height: 20rem;
        width: 20rem;
    }

    .section_texto_sustentavel{
        height: 100vh;
    }

    .texto_sustentavel_titulo{
        font-size: 2rem;
        padding-top: 3rem;
    }

    .texto_sustentavel_texto{
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    
    .ajustes_section_gaia{
        padding: 1rem;
    }

    .h1_gaia{
        font-size: 1.5rem;
    }

    .texto_gaia{
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .imagem_gaia{
        width: 10rem;
        height: 10rem;
    }
}

@media (min-width: 745px) and (max-width: 834px) {
    .apresentacao{
        height: 80vh;
    }

    .logo_gaia{
        margin-top: 2rem;
        height: 20rem;
        width: 20rem;
    }

    .section_texto_sustentavel{
        height: 90vh;
    }

    .texto_sustentavel_titulo{
        font-size: 2rem;
        padding-top: 3rem;
    }

    .texto_sustentavel_texto{
        font-size: 1.5rem;
        padding-top: 2rem;
    }
    
    .ajustes_section_gaia{
        padding: 1rem;
    }

    .h1_gaia{
        font-size: 1.5rem;
    }

    .texto_gaia{
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .imagem_gaia{
        width: 15rem;
        height: 15rem;
    }
}

@media (min-width: 835px) and (max-width: 973px) {
    .apresentacao{
        height: 75vh;
    }

    .logo_gaia{
        margin-top: 2rem;
        height: 25rem;
        width: 25rem;
    }

    .section_texto_sustentavel{
        height: 90vh;
    }

    .texto_sustentavel_titulo{
        font-size: 2rem;
        padding-top: 3rem;
    }

    .texto_sustentavel_texto{
        font-size: 1.8rem;
        padding-top: 1rem;
    }
    
    .ajustes_section_gaia{
        padding: 1rem;
    }

    .h1_gaia{
        font-size: 1.5rem;
    }

    .texto_gaia{
        font-size: 1.1rem;
        padding: 0.5rem;
    }

    .imagem_gaia{
        width: 20rem;
        height: 20rem;
    }
}