.apresentacao{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo_gaia{
    object-fit: cover;
    height: 20rem;
}

.apresentacao__textos{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.slogan{
    color: var(--cor-verde);
    font-size: 1.9rem;
}

.texto{
    color: var(--cor-verde);
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.section_texto_sustentavel{
    background-color: #D9F5C0;
    height: 90vh;
}

.texto_sustentavel_titulo{
    color: var(--cor-verde);
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
}

.texto_sustentavel_texto{
    color: var(--cor-verde);
    font-size: 1.5rem;
    padding-top: 3rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ajustes_section_gaia{
    display: flex;
    padding: 3rem;
}

.section_gaia{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.section_imagem_gaia{
    display: flex;
    align-items: center;
}

.h1_gaia{
    color: var(--cor-verde);
    font-family: var(--fonte-texto);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2.5rem;
}

.texto_gaia{
    color: var(--cor-verde);
    font-size: 1.5rem;
    padding: 1.5rem;
}

.imagem_gaia{
    width: 30rem;
    height: 30rem;
}