.main{
    display: flex;
    padding: 2rem;
}

.div_gaia{
    width: 65%;
    display: flex;
    flex-direction: column;
}


.div_imagem_gaia{
    display: flex;
    align-items: center;
}

.h1_gaia{
    color: var(--cor-verde);
    font-family: var(--fonte-texto);
    font-weight: 500;
    text-align: center;
    margin-top: 2.5rem;
}

.texto_gaia{
    color: var(--cor-verde);
    font-size: 1.8rem;
    padding: 1.5rem;
}

.imagem_gaia{
    width: 30rem;
    height: 30rem;
}