.nav{
    border-bottom: solid 0.3rem var(--cor-verde);;
    height: 7rem;
    width: 100%;
}

.div_gaia{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
}

.h1{
    color: var(--cor-verde);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fonte-marca);
}

.menu{
    display: flex;
    gap: 3rem;
}

.menu__links{
    color: var(--cor-verde);
    font-size: 1rem;
    font-weight: bold;
}

.menu__links:hover{
    border-bottom: solid 2px var(--cor-verde);
}

@media (max-width: 430px) {
    .nav{
        height: 27rem;
    }

    .div_gaia{
        flex-direction: column;
        text-align: center;
    }

    .menu{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .menu__links{
        font-size: 1.3rem;
    }
}

@media (min-width: 431px) and (max-width: 744px) {
    .nav{
        height: 27rem;
    }

    .div_gaia{
        flex-direction: column;
        text-align: center;
    }

    .menu{
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }

    .menu__links{
        font-size: 1.3rem;
    }
}

@media (min-width: 745px) and (max-width: 834px) {

}

@media (min-width: 835px) and (max-width: 1024px) {

}